
@import '../styles.scss';

mat-toolbar {
    background-color: $primaryColor;
}

mat-card {
    background-color: $lightSecondaryColor;
}

.columnNames {
    margin: 5px;
    text-decoration: underline;
}

.product-info {
    margin: 5px;
    font-style: italic;
}