@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

$primaryColor : #fff176;
$lightPrimaryColor: #ffffa8;
$darkPrimaryColor: #cabf45;

$secondaryColor: #eeeeee;
$lightSecondaryColor: #ffffff;
$darkSecondaryColor: #bcbcbc;

$textColor : #000000;


html, body { 
    height: 100%; 
    background-color: $secondaryColor; 
}
body { margin: 0;  font-family: Georgia, 'Times New Roman', Times, serif }
